body {
  font-family: 'Roboto Condensed', sans-serif;
 
}

.navbar{
  z-index:1000;
}

.section-title {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 70px;
  color: #002b4e;
}

.project {
  background: #001322;
}


.project-image {
  position: relative;
}

.overlay .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(255, 255, 255);

}

.overlay:hover .background {
  opacity: 1;
}

.background .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  font-weight:700;
  text-transform:uppercase;
}

.background .language {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing: 1px;
  font-size:14px;
  opacity:0;
  color: #ff0055;

}


.background .fab {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 70px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing: 1px;
  font-size:14px;
  opacity:0;
  color: #002b4e;
}

.background .far {
  position: absolute;
  bottom: 0;
  left: 70px;
  right: 0;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing: 1px;
  font-size:14px;
  opacity:0;
  color: #002b4e;

}
.overlay:hover .background .title {
  position: absolute;
  animation: Title 0.2s linear;
  animation-fill-mode: Fadeup 0.2s forwards;
  bottom:44%;
  opacity:1;
}

.overlay:hover .background .language {
  position: absolute;
  animation: Language 0.2s linear;
  animation-fill-mode: Language 0.2s forwards;
  bottom:31%;
  opacity:1;
}

.overlay:hover .background .fab{
position: absolute;
animation: Lien 0.2 linear;
animation-fill-mode: lien 0.2s forwards;
bottom:31%;
opacity:1;
}

.overlay:hover .background .far{
  position: absolute;
  animation: Lien 0.2 linear;
  animation-fill-mode: lien 0.2s forwards;
  bottom:31%;
  opacity:1;
  }

.project .section-title {
  color: white;
}


.navbar .nav-link {
  font-weight: 400;
  color: #002b4e !important;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar .nav-link:hover {
  font-weight: bold;
  background-color: #002b4e;
  color: #ffffff !important;
}

.navbar-brand {
  text-transform: uppercase;
  color: #002b4e !important;

}

.navbar-brand strong {
  font-weight: bold;
}

/* .navbar {
  background-image: linear-gradient(rgb(116, 116, 116, 50%),rgba(255, 255, 255, 0));  
} */
.banner {
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;

}

.admin-btn {
  background-color: #001322;
  border:none;
  color:white;
}
.banner h1 {
  font-size: 80px;
  font-weight: 700;
  align-items: center;
  color: #002b4e;
}

.banner h2 {
  font-size: 40px;
  letter-spacing: 10px;
  color: #ff0055;
  align-items: center;
}

.first-page {
  height: 100vh;
  background-image: radial-gradient(rgb(255, 255, 255), rgb(183, 195, 206));
}

.portrait-description {
  height: 100%;
}



.skills-img {
  text-align:center;
  font-size:70px;
  color: #002b4e;
}

.skills-title {
  text-transform:uppercase;
  color: #ff0055;
  font-weight:700;
}


.skills ul {
  padding:0;
  margin:0;
  margin-top:30px;
}
.skills li {
  font-size:20px;
  list-style:none;
}



.education{
  background-color: #ff0055;
}

.education .section-title {
  color:white;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: #002b4e;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 15px;
  width: 15px;
  height: 15px;
  z-index: 400;
  margin-left: 7px;
}


.float-right{
  color:#002b4e;
}

.timeline-title {
  font-weight:700;
  color:#002b4e;
  font-size:19px;
}
.timeline li {
  background-color:#ffffff;
  padding:20px;
}

.timeline p {
 color:rgb(117, 117, 117);
}

.social {
  background-color:rgb(255, 255, 255);
}
.social .section-title {
  color:#002442;

}

.social ul {
  display:flex;
  list-style: none;
  justify-content: space-around;
}

.social li {
  font-size:60px;
}

.social a{
  color:#002442;
}

.social a:hover {
  color:#ff0055;
}

section {
  padding-top: 150px;
  padding-bottom: 150px;
}


@keyframes Title {
  from {
    bottom: -10%;
  }

  to {
    bottom: 44%;
  }
}


@keyframes Language {
  from {
    bottom: -10%;
    opacity:0;
  }

  to {
    opacity:1;
    bottom: 31%;
  }
}







@media screen and (max-width: 991px) {
  .navbar-brand {
    color:white !important;
    padding-left:1em;
  }
  .navbar-expand {
    padding: 0;
  }
  .navbar-nav {
    margin-top:10px;
  }
  .navbar {
    background-color: #001322;
    text-align: center;
    z-index:100000;
    width: 100%;
    padding-left:0;
    padding-right:0;
    }
    nav .container {
      max-width: 100%;
      text-align: center;

    }
    .navbar .nav-link {
      width:100%;
      color:white !important;
    }
  .navbar-toggler {
    margin-right:1em;
  }
  .admin-btn, .cv-btn {
    display:none;
  }
}

@media screen and (max-width: 768px) {
 .portrait {
display: flex;
justify-content: center;
margin-bottom:50px;
 }
}